<%- partial('_partial/header', {
  headerType: 'post',
  post: post
}) %>
<article class="background-wrapper">
  <div class="container typo">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="post-info text-muted">
          <% if (config.author) { %>
            <!-- Author -->
            <span class="author info">By <%- config.author %></span>
          <% } %>
          <!-- Date -->
          <span class="date-time info">On
            <span class="date"><%- date(post.date) %></span>
            <span class="time"><%- time(post.time) %></span>
          </span>
          <% if (post.categories && post.categories.length){ %>
          <!--  Categories  -->
            <span class="categories info">Under <%- partial('categories', {categories: post.categories}) %></span>
          <% } %>
        </div>
        <!-- Tags -->
        <% if (post.tags && post.tags.length) { %>
          <div class="post-tags text-muted">
            Tags: <%- partial('tags', {tags: post.tags, tagHash: true}) %>
          </div>
        <% } %>
        <!-- word count  -->
        <div class="post-words text-muted clearfix">
          <span class="post-word">Count <%- wordcount(post.content) %></span>
          <span class="post-read">Reading <%- min2read(post.content) %></span>
        </div>
        <!-- Post Main Content -->
        <div class="post-content">
          <%- post.content %>
        </div>
        <!-- Disqus -->
        <div id="disqus_thread"></div>
        <a id="disqus_go_to_comment" href="#disqus_thread">
          <i class="fa fa-comment"></i>
          Comment
        </a>
        <a id="go_to_top" href="#">
          <i class="fa fa-arrow-up"></i>
        </a>
      </div>
    </div>
  </div>
</article>

<script>
  $(document).on('scroll', function () {
    var scrollTop = $(document).scrollTop()

    if (scrollTop >= 300) {
      $('#go_to_top').css('display', 'block')
    }

    if (scrollTop < 300) {
      $('#go_to_top').css('display', 'none')
    }
  })

  var cLeft = $('.post-content').eq(0).offset().left + ($('.post-content').eq(0)).width() + 15 + 'px'

  $('#disqus_go_to_comment').css('left', cLeft)
  $('#go_to_top').css('left', cLeft)

  $(window).on('resize', function() {
    var cLeft = $('.post-content').eq(0).offset().left + ($('.post-content').eq(0)).width() + 15 + 'px'
    $('#disqus_go_to_comment').css('left', cLeft)
    $('#go_to_top').css('left', cLeft)
  })

  $('#disqus_go_to_comment').on('mouseenter', function () {
    console.log('mouse enter')
    $('#disqus_go_to_comment').addClass('animated infinite pulse')
  })

  $('#disqus_go_to_comment').on('mouseleave', function () {
    console.log('mouse leave')
    $('#disqus_go_to_comment').removeClass('animated infinite pulse')
  })
</script>

<script>
/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

var disqus_config = function () {
  this.page.url = "<%= post.permalink %>";  // Replace PAGE_URL with your page's canonical URL variable
  this.page.identifier = "<%= post.permalink %>"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

(function() { // DON'T EDIT BELOW THIS LINE
  var d = document, s = d.createElement('script');
  s.src = '//blackcaters-blog.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
})();
</script>
<noscript>
  Please enable JavaScript to view the
  <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
</noscript>
